* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppings', sans-serif;
}


section {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#fff ;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;

}
header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
}

header ul li a:hover {
    color: #017143;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox  h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500px;

}

.content .textBox  h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
    
}
.content .textBox p {
    color: #333;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    
}

.content imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img {
    max-height: 480px;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}
.thumb li img {
    
    max-width: 80px;
}

.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
    
}

.circle {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);

}

/* img shake */

.content .imgBox img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds  */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
     animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  /* text dancing animation */

  .dance span {
    display:table-cell;
    animation:jumb 2s infinite;
  }

  @keyframes jumb {
    0% {
      transform:translateY(0px)
    }
    50% {
      transform:translateY(-30px);
      
    }
    100% {
      transform:translateY(0px) 
    }
  }
  .dance span:nth-child(1)  {
    animation-delay: 0s;
  }

  .dance span:nth-child(2) {
    animation-delay:.1s;  
  }
  
  .dance span:nth-child(3) {
    animation-delay:.2s;
  }
  .dance span:nth-child(4) {
    animation-delay:.3s;  
  }
  .dance span:nth-child(5) {
    animation-delay:.4s;
  }
  .dance span:nth-child(6) {
    animation-delay:.5s;  
  }
  .dance span:nth-child(7) {
    animation-delay:.6s;
  }
  .dance span:nth-child(8) {
    animation-delay:.7s;
  }
  .dance span:nth-child(9) {
    animation-delay:.8s;
  }

  /* learn more button */
  .btn {
    opacity:0.7;
    transition: 1s;
    
  }

  .btn:hover {
    opacity:1;
  }